ul {
    display: inline-flex;
    /* flex-direction: row or column, row-reverse, 
    column-reverse; */
    flex-direction: column-reverse;
    /* align-items: center; */
    border: 1px solid red;
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
    width: 100px;
    height: 100px;
    background-color: #8cacea;
    margin: 8px;
}