ul {
    display: flex;
    border: 1px solid red;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    background-color: #8cacea;
    color: white;
    margin: 5px;
    padding: 5px;
    flex: 0 0 auto;
}